*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --primary: #1a57e6;
    --white: #f8f1f1;
    --semi-white: #ebe8e8;
    --text-color: #4d4d4d;
    --body-grey: #717171;
    --h-text-color: #18191f;
    --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

.btn{
    background-color: var(--primary);
    color: var(--white);
    padding: .7rem 1.3rem;
    font-size: .865rem;
    border-radius: 5px;
}
.btn:hover{
    background-color: var(--h-text-color);
}


/*=============== Hero Section =================*/
.hero{
    background: linear-gradient(145deg, #000066, #FFFFFF);
    width: 100%;
    height: 88vh; 
}
.hero-container{
    max-width: 1380px;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82vh;
    width: 100%;
}
.hero-container .content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border: 1px solid var(--body-grey);
    border-radius: 20px;
    padding: 20px 30px;
    height: 65vh;
    width: 100%;
}
.hero-container .content .detail{
    grid-column: span 6;
}
.hero-container .content .detail span{
    color: var(--white);
    text-transform: uppercase;
    font-size: .532rem;
    letter-spacing: 2px;
}
.hero-container .content .detail h1{
    font-size: 3rem;
    color: var(--white);
    font-weight: 600;
    line-height: 1.1;
    margin-top: 15px;
    margin-bottom: 20px;
}
.hero-container .content .detail p{
    width: 30rem;
    color: var(--semi-white);
    font-size: .9rem;
    margin-bottom: 20px;
    font-weight: lighter;
}
.hero-container .content .detail .search{
    width: 30rem;
}
.hero-container .content .detail .search input{
    width: 60%;
    padding: .8rem .9rem;
    font-size: .765rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
}
.hero-container .content .detail .search .btn-search{
    background-color: var(--primary);
    color: var(--white);
    padding: .8rem .9rem;
    font-size: .765rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hero-container .content .image{
    grid-column: span 6;
}

@media (max-width: 1170px){
    .hero-container .content{
        gap: 3rem;
    }
    .hero-container .content .detail h1{
        font-size: 2.5rem;
    }
    .hero-container .content .detail .search,
    .hero-container .content .detail p{
        width: 27rem;
    }
    
}

@media (max-width: 1000px){
    .hero,
    .hero-container{
        height: 100vh;
    }
    .hero-container .content{
        gap: 2rem;
    }
    .hero-container .content{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
    .hero-container .content .detail p{
        width: 100%;
    }
}

@media (max-width: 768px){
    .hero-container .content{
        border: none;
        padding: 0 2px;
    }
}

@media (max-width: 520px){
    .hero-container .content .detail .search{
        width: 100%;
    }
    .hero-container .content .detail .search input{
        width: 70%;
    }
    .hero-container .content .detail h1{
        font-size: 2rem;
    }
}
@media (max-width: 420px){
    .hero-container .content .detail .search input{
        width: 70%;
        padding: .7rem .8rem;
        font-size: .665rem;
    }
    .hero-container .content .detail h1{
        font-size: 1.8rem;
    }
    .hero-container .content .detail .search .btn-search{
        padding: .7rem .8rem;
        font-size: .665rem;
    }

}
@media (max-width: 420px){
    .hero-container .content .detail .search input{
        width: 60%;
        padding: .7rem .8rem;
        font-size: .665rem;
    }
    .hero-container .content .detail h1{
        font-size: 1.6rem;
    }
    .hero-container .content .detail .search .btn-search{
        padding: .7rem .8rem;
        font-size: .665rem;
    }

}




/*=============== About Section =================*/
.about-container{
    max-width: 1380px;
    margin: 5rem auto;
}
.about-container .content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.about-container .content .detail{
    grid-column: span 6;
    width: 90%;
}
.about-container .content .image{
    grid-column: span 6;
    /* display: flex;
    align-items: flex-end;
    width: 100%; */
}
.about-container .content .detail .title{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: var(--h-text-color);
    position: relative;
    width: 26rem;
    margin-bottom: 45px;
    text-align: left;
    
}
.about-container .content .detail .title::before{
    position: absolute;
    content: 'Who we are';
    font-size: 4.2rem;
    left: 0;
    top: -1.4rem;
    text-align: left;
    color: #eae9e9;
    z-index: -10;
}
.about-container .content .detail p{
    font-size: .9rem;
    margin-bottom: 20px;
    font-weight: lighter;
    color: var(--text-color);
}
.about-container .content .detail p:nth-of-type(2){
    margin-bottom: 40px;
}


@media (max-width: 1000px){
    .about,
    .about-container{
        height: 100%;
    }
    .about-container .content{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    /* .about-container .content .detail{
        grid-column: span 12;
        width: 100%;
    }
    .about-container .content .image{
        grid-column: span 12;
        justify-content: center;
        align-items: center;
        width: 100%;
    } */
}

@media (max-width: 600px){
    .about-container .content .detail .title{
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 45px;
        text-align: left;
        
    }
    .about-container .content .detail .title::before{
        font-size: 3.4rem;
        left: 0;
        top: -1rem;
    }
    .about-container .content .image{
        width: 90%;
        height: 90%;
    }
}
    
@media (max-width: 400px){
    .about-container .content .detail .title{
        font-size: 2rem;
        margin-bottom: 40px;
        text-align: left;
        
    }
    .about-container .content .detail .title::before{
        font-size: 2.8rem;
        left: 0;
        top: -1rem;
    }
    .about-container .content .image{
        width: 90%;
        height: 90%;
    }
}
    

/*=============== Services Section =================*/
.service-container{
    max-width: 1380px;
    margin: 5rem auto;
}
.service-container .title{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: var(--h-text-color);
    position: relative;
    width: 26rem;
    margin-bottom: 45px;
    text-align: left;
}
.service-container .title::before{
    position: absolute;
    content: 'Services';
    font-size: 4.2rem;
    left: 0;
    top: -1.4rem;
    text-align: left;
    color: #eae9e9;
    z-index: -10;
}
.service-container .content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.service-container .content .imageBox:nth-child(1){
    grid-column: span 8;
}
.service-container .content .imageBox{
    position: relative;
    grid-column: span 4;
    border-radius: 7px;
    height: 400px;
    margin-bottom: .6rem;
}
.service-container .content .imageBox::after{
    position: absolute;
    content: '';
    background-color: #18191f57;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 7px;
}
.service-container .content .imageBox:nth-child(7){
    grid-column: span 8;
}
.service-container .content .imageBox img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.service-container .content .imageBox h3{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white);
    z-index: 1000;
}


@media (max-width: 800px){
    .service-container .content .imageBox:nth-child(1){
        grid-column: span 12;
        height: 380px;
    }
    .service-container .content .imageBox,
    .service-container .content .imageBox:nth-child(7){
        grid-column: span 6;
        height: 380px;
    }
}

@media (max-width: 600px){
    .service-container .content{
        gap: .6rem;
    }
    .service-container .content .imageBox,
    .service-container .content .imageBox:nth-child(1),
    .service-container .content .imageBox:nth-child(7){
        height: 330px;
        margin-bottom: .4rem;
    }
    .service-container .content .imageBox h3{
        bottom: 1.3rem;
        left: 1.3rem;
        font-size: 1.2rem;
    }
    .service-container .title{
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 45px;
        text-align: left;
        
    }
    .service-container .title::before{
        font-size: 3.4rem;
        left: 0;
        top: -1rem;
    }
}

@media (max-width: 468px){
    .service-container .content .imageBox,
    .service-container .content .imageBox:nth-child(1),
    .service-container .content .imageBox:nth-child(7){
        grid-column: span 12;
        height: 300px;
        margin-bottom: .2rem;
    }
}

@media (max-width: 400px){
    .service-container .title{
        font-size: 2rem;
        margin-bottom: 40px;
        text-align: left;
        
    }
    .service-container .title::before{
        font-size: 2.8rem;
        left: 0;
        top: -1rem;
    }
}




/*=============== Testimonial Section =================*/
.testi-container{
    max-width: 1380px;
    margin: 5rem auto;
}
.testi-container .titleWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testi-container .titleWrap h3{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 10px;
}
.testi-container .title{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: var(--h-text-color);
    position: relative;
    margin-bottom: 45px;
    text-align: center;
    width: 43rem;
}
.testi-container .title::before{
    position: absolute;
    content: 'Testimonial';
    font-size: 4.5rem;
    left: 25%;
    top: -1.6rem;
    text-align: left;
    color: #eae9e9;
    z-index: -10;
}
.testi-container .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testi-container .card-container .card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    width: 50rem;
    background-color: #fff;
    border: 1px solid rgba(193, 194, 196, 0.155); 
    box-shadow: 3px 5px 5px rgba(193, 194, 196, 0.359);
    padding: 30px;
    border-radius: 15px;
}
.testi-container .card-container .card .card-img{
    width: 45rem;
}
.testi-container .card-container .card .card-img .image{
    position: relative;
    width: 13rem;
    height: 13rem;
    border-radius: 70px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
}
.testi-container .card-container .card .card-img .image img{
    position: absolute;
    top: -9px;
    left: -9px;
    width: 100%;
    height: 100%;
    border-radius: 70px;
}
.testi-container .card-container .card .card-img h3{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}
.testi-container .card-container .card .card-img p{
    font-size: .7rem;
    text-align: center;
    color: var(--body-grey);
    margin-top: 5px;
}
.testi-container .card-container .card .card-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testi-container .card-container .card .card-text p{
    margin-left: 30px;
    font-size: .8rem;
}
.testi-container .card-container .card .card-text .icon{
    font-size: 1.8rem;
    color: var(--h-text-color);
}
.testi-container .card-container .card .card-text .left-icon{
    position: absolute;
    left: -5px;
    top: -18px;
}
.testi-container .card-container .card .card-text .right-icon{
    position: absolute;
    right: 0;
    bottom: 24px;
}
.testi-container .card-container .card .card-text .rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    margin-top: 30px;
    color: #ff8400;
}






/*=============== Contact Section =================*/
.contact{
    background-color: var(--h-text-color);
    color: var(--semi-white);
}
.contact-container{
    max-width: 1380px;
    margin: 5rem auto;
}
.contact-container .form-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 4rem;
    padding: 5rem 0;
}
.contact-container .form-container form{
    width: 100%;
}
.contact-container .form-container form .form-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .8rem;
}
.contact-container .form-container form .box,
.contact-container .form-container form .form-box .box{
    width: 100%;
    margin-bottom: 30px;
    background-color: transparent;
    padding-top: 8px;
    font-size: .8rem;
    height: 2.2rem;
    border-top: 0;
    border-top: 0;
    border-top: 0;
    border-bottom: 1px solid var(--body-grey);
    outline: none;
    color: var(--semi-white);
}
.contact-container .form-container form textarea{
    resize: none;
}
.contact-container .form-container form .form-box select{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.contact-container .form-container form .form-box select option{
    background-color: var(--h-text-color);
    width: fit-content;
    /* outline: none;
    border: none;
    padding: 10px; */
}
.contact-container .form-container .content{
    width: 100%;
    margin-top: .6rem;
}
.contact-container .form-container .content h1{
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;
}
.contact-container .form-container .content p{
    color: var(--semi-white);
    font-size: .987rem;
}

@media (max-width: 1150px){
    .contact-container .form-container{
        gap: 2rem;
    }
    .contact-container .form-container .content h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 950px){
    .contact-container .form-container{
        flex-direction: column-reverse;
    }
}
@media (max-width: 600px){
    .contact-container .form-container form .form-box{
        flex-direction: column;
        gap: 0;
    }
    .contact-container .form-container .content h1{
        font-size: 2rem;
    }
}
@media (max-width: 378px){
    .contact-container .form-container .content h1{
        font-size: 1.6rem;
    }
}




/*=============== Footer Section =================*/
.footer .social-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-container{
    max-width: 1380px;
    margin: 3rem auto;
    margin-top: -2.8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}
.footer-container .box{
    width: 100%;
}
.footer-container .box:nth-child(1){
    grid-column: span 4;
}
.footer-container .box:nth-child(2){
    grid-column: span 1;
}
.footer-container .box:nth-child(3){
    grid-column: span 3;
    padding-left: 5px;
}
.footer-container .box:nth-child(4){
    grid-column: span 4;
}
.footer-container .box p{
    margin: 20px 0 40px;
    font-size: .8rem;
    line-height: 25px;
}
.footer-container .box h1{
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--h-text-color);
}
.footer-container .box li,
.footer-container .box .b-flex{
    margin-bottom: 20px;
}
.footer-container .box .b-flex{
    display: flex;
    align-items: baseline;
    gap: .5rem;
}
.footer-container .box .b-flex .icon{
    font-size: .9rem;
    color: var(--h-text-color);
}
.footer-container .box li{
    list-style: none;
    font-size: .8rem;
}
.footer-container .box-map{
    width: 100%;
}
.footer-container .box-map img{
    width: 100%;
}
.f-bottom{
    background-color: #000000;
    color: var(--semi-white);
}
.f-bottom .bottom{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

@media(max-width: 1000px){
    .footer-container .box:nth-child(1){
        grid-column: span 12;
    }
    .footer-container .box:nth-child(2){
        grid-column: span 6;
        /* margin-right: -20px; */
    }
    .footer-container .box:nth-child(3){
        grid-column: span 6;
    }
    .footer-container .box:nth-child(4){
        grid-column: span 12;
        width: 100%;
    }
}
@media(max-width: 500px){
    .footer-container .box:nth-child(1),
    .footer-container .box:nth-child(2),
    .footer-container .box:nth-child(3),
    .footer-container .box:nth-child(4){
        grid-column: span 12;
    }
}











/*======== General Media Queries =========*/
@media (min-width: 1536px) {
    .inner-w{
        max-width: 1280px;
        margin: 0 auto;
    }
}
@media (min-width: 640px), (min-width: 300px) {
    .padding{
        padding: 1rem;
    }
}
@media (min-width: 1280px), (min-width: 768px) {
    .padding{
        padding: 2rem;
    }
}